<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Outbound Orders</title>
</head>
<body>
<h1>Outbound Orders</h1>
<table>
    <thead>
    <tr>
        <th>Order Number</th>
        <th>Sku</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.orderNumber}">Order Number</td>
        <td th:text="${order.sku}">Sku</td>
        <td th:text="${order.quantity}">Quantity</td>
    </tr>
    </tbody>
</table>
</body>
</html>
